<nav class='header_nav'>
  <ul id="genre_list">
    <li><a href="/videos">Home</a></li>
    <li><a href="/videos/upload">Upload Video</a></li>
  </ul>
</nav>

<div id="main_frame">

  <div id="homepage" class="sub_frame show">   
  </div>

  <div id="upload" class="sub_frame hide">    
  </div>

  <div id="show" class="sub_frame hide">
  </div>

  <div id="edit" class="sub_frame hide">
  </div>






</div>