<nav class='header_nav'>
  <ul id="genre_list">
    <li><a href="/videos">Home</a></li>
    <li><a href="/videos/upload">Upload Video</a></li>
  </ul>
</nav>

<div id="main_frame">

  <div id="homepage" class="sub_frame show">   
    <h3>All our videos so far</h3>
    <div id="all_videos">
    </div>
  </div>


  <div id="upload" class="sub_frame hide">  
<!--     <h3>Bring them home!</h3>

    <form action='/videos' method='post'>
      <input type='text' name='title' id='title' placeholder='Title' autofocus>
      <input type='text' name='description' id='description' placeholder='Description' autofocus>
      <input type='text' name='url' id='url' placeholder='URL' autofocus>
      <input type='text' name='genre' id='genre' placeholder='Genre' autofocus>
      <button>Dunk It</button>
    </form>  --> 
  </div>


  <div id="show" class="sub_frame hide">

  </div>


  <div id="edit" class="sub_frame hide">

  </div>


</div>