<!DOCTYPE html>
<html>
<head>
  <title>Hoops Tube</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src='/jquery.js'></script>
  <script type="text/javascript" src='/script.js'></script>

</head>
<body>
<div class='background'>

  <header>
    <p>Main logo / welcome msg</p>
  </header>

  <%= yield %>
  

  <nav class='footer'>
    <p>Back to top</p>
    <p><em>This is a student webste.All videos are properties of the NBA and licensed for Youtube.I do not own them</em></p>
  </nav>


</div>
</body>
</html>